.App {
    text-align: center;
    background: none;
    
}

.center {
    display: flex;
    justify-content: center;
}

.particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgb(158, 0, 0)
}
